<div class="sm:container mx-auto flex flex-col content-center items-center w-full">
    <h1>Jojo Api</h1>

    <!-- <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/dOQWNEv4_6U?si=1j4x7G_V_ory59UA" title="Stand proud" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->

    <!-- <app-loader></app-loader> -->
    
    <!-- <button mat-raised-button color="primary" (click)="openDialog()">Apri dialogo</button> -->

    <!-- <p>{{something}}</p> -->
    <img [src]="gifLink" alt="">
</div>

<!-- <mat-drawer-container>
    <mat-drawer #drawer mode="side">
        <h1>test</h1>
        <p>test2</p>
    </mat-drawer>

    <div>
        <button mat-button (click)="drawer.toggle()">Toggle</button>
    </div>
</mat-drawer-container> -->