<div class="container mx-auto" *ngFor="let characters of charactersArray" [hidden]="charactersArray.length <= 0">
    <mat-card *ngIf="characters.id === id" class="my-4">
        <mat-card-header class="flex justify-between">
            <h1>{{characters.name}} ( {{ characters.japaneseName }} )</h1>

            <button mat-raised-button color="accent" (click)="openDialog()" matTooltip="Modifica">Modifica</button>
        </mat-card-header>

        <img [src]="characters.image" [alt]="characters.name + ' image'">
        <mat-card-content>
            <p>Nazionalità: {{characters.nationality}}</p>
            <p>Abilità: {{characters.abilities}}</p>
            <p>Appare in: {{ characters.chapter }}</p>
            
            <p *ngIf="characters.isHuman; else notHuman">Umano</p>
            <ng-template #notHuman>
                <p>Non umano</p>
            </ng-template>

            <p *ngIf="characters.living; else notAlive" [ngStyle]="{ color: 'green' }">In vita</p>
            <ng-template #notAlive>
                <p [ngStyle]="{ color: 'red'}">Deceduto</p>
            </ng-template>
        </mat-card-content>

        <mat-card-footer>
            <div class="px-3 pb-3">
                <button mat-raised-button color="primary" routerLink="/characters" matTooltip="Indietro">Indietro</button>

                
            </div>
        </mat-card-footer>
    </mat-card>
</div>

<app-loader *ngIf="charactersArray.length <= 0"></app-loader>