<mat-dialog-content>
    <header><h1>Crea un nuovo personaggio</h1></header>

    <div class="inputs flex flex-col">
        <mat-form-field>
            <input matInput placeholder="Inserisci il nome:" [(ngModel)]="name" (keyup.enter)="closeDialog()" required>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Inserisci l'abilità:" [(ngModel)]="ability" (keyup.enter)="closeDialog()" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Inserisci la nazionalità:" [(ngModel)]="nationality" (keyup.enter)="closeDialog()">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Inserisci il capitolo:" [(ngModel)]="chapter" (keyup.enter)="closeDialog()">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Inserisci l'immagine (placeholder):" [(ngModel)]="image" (keyup.enter)="closeDialog()">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>In vita</mat-label>
            <mat-select [(ngModel)]="isAlive" required>
                <mat-option [value]="true">Vivo</mat-option>
                <mat-option [value]="false">Morto</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="warn" matDialogClose> Annulla </button>
    <button mat-raised-button color="primary" (click)="closeDialog()"> Salva </button>
</mat-dialog-actions>